.home {
    display: flex;
}

.home .sidebar {
    border-right: 1px solid #eee;
    min-width: 200px;
    max-width: 400px;
    padding: 5px;
}

.home .sidebar > .btn-group,
.home .sidebar > .btn-group > button {
    width: 100%;
}

.home .main {
    flex: 1;
    padding: 5px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.list-header {
    border-bottom: 2px solid #eee;
}

#loading-div {
    z-index: 1000;
}

#charts-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.report-wrapper {
    padding: 5px;
}

.report-wrapper.col-1 {
    width: 99%;
}

.report-wrapper.col-2 {
    width: 50%;
}

.report-wrapper.col-3 {
    width: 33%;
}

.legend td {
    padding-right: 10px;
}

.legend-box {
    display: inline-block;
    width: 30px;
    height: 15px;
    margin-right: 5px;
}

.legend-box.clickable {
    cursor: pointer;
}

.legend-name {
    min-width: 150px;
    font-weight: bold;
    text-align: end;
}

.legend-items {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    user-select: none;
}

.legend-item {
    margin-right: 15px;
}

.legend-value {
    white-space: pre;
    font-weight: bold;
}