<div class="app-body settings">

    <div class="well well-sm">
        <div class="btn-group">
            <button class="btn btn-sm" ng-click="refresh()" title="Refresh"><i class="fa fa-refresh"></i></button>
            <button class="btn btn-sm" ng-click="addSource()" title="Add new data source"><i class="fa fa-plus"></i></button>
        </div>
        <div class="btn-group">
            <button class="btn btn-sm" ng-click="collect()" title="Force data collection"><i class="fa fa-gears"></i></button>
        </div>
    </div>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="50px">Enabled</th>
                <th>Group</th>
                <th>Name</th>
                <th>Description</th>
                <th>Profile</th>
                <th>URL</th>
                <th>Status</th>
                <th>Ping, ms</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="source in model.sources" ng-click="editSource(source)">
                <td align="middle"><i class="fa" data-ng-class="{'fa-square-o': !source.enabled, 'fa-check-square-o': source.enabled}"></i></td>
                <td>{{source.groupName}}</td>
                <td>{{source.name}}</td>
                <td>{{source.description}}</td>
                <td>{{source.dataProfileName}}</td>
                <td>{{source.url}}</td>
                <td>
                    <i class="fa" data-ng-class="getIcon(source)"></i>
                    {{getTitle(source)}}
                </td>
                <td>{{source.status.ping}}</td>
            </tr>
        </tbody>
    </table>

</div>
